.heading{
    display: flex;
    justify-content: center;
    & p{
        margin-bottom: 0;
    }
    &__return__hide{
        display: none;
        font-size: 25px;
        position: absolute;
        left: 25px;
    }
    &__return__show{
        display: block;
        font-size: 25px;
        position: absolute;
        left: 25px;
        a{
            color: black;
        }
        
    }
    &__logo{
        width: 240px;
    }
}