@charset "UTF-8";
* {
  box-sizing: border-box; /*définit la façon dont la hauteur et la largeur totale d'un élément est calculé*/
}

.heading {
  display: flex;
  justify-content: center;
}
.heading p {
  margin-bottom: 0;
}
.heading__return__hide {
  display: none;
  font-size: 25px;
  position: absolute;
  left: 25px;
}
.heading__return__show {
  display: block;
  font-size: 25px;
  position: absolute;
  left: 25px;
}
.heading__return__show a {
  color: black;
}
.heading__logo {
  width: 240px;
}

.mainFooter {
  background-color: #424949;
  color: white;
  padding: 15px 0 20px 25px;
}
.mainFooter p {
  font-family: "Shrikhand", sans-serif;
  font-size: 20px;
  color: white;
  margin-top: 8px;
}
.mainFooter ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}
.mainFooter ul li i {
  width: 19px;
  font-size: 13px;
}
.mainFooter ul a {
  text-decoration: none;
  color: white;
}

main {
  text-align: center;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.location {
  background-color: #f2f2f2;
  padding: 15px 0 15px 0;
  font-weight: 600;
  color: #424949;
  margin-bottom: 0;
  box-shadow: inset 0 24px 8px -23px #bdbdbd;
}
.location i {
  padding-right: 15px;
}

.reserve {
  background-color: #fafafa;
  padding: 15px 15px 40px 15px;
  /* @include desktop{
       background-color: blue;
       &__btn{
           padding: 5px;
       }
   }*/
}
.reserve__btn {
  border-radius: 30px 30px;
  border: none;
  padding: 15px;
  color: white;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0 5px 8px 1px #bdbdbd;
  font-family: "Roboto", sans-serif;
}
.reserve__btn:hover {
  box-shadow: 0 6px 9px 3px #bdbdbd;
  transition: box-shadow 0.3s ease-in-out;
  filter: brightness(1.1);
}

.fonctionnement {
  margin-top: 45px;
  margin-bottom: 70px;
  /* @include tablet{
       &__title{
           text-align: center;
       }
       li{
           width: 50%;
           &:hover{
               color: yellow;
           }
       }
   }*/
}
.fonctionnement__title {
  text-align: left;
  margin-left: 25px;
}
.fonctionnement__numbers {
  border-radius: 20px 20px;
  padding: 8px 12px 8px 12px;
  background-color: #9356DC;
  color: white;
  position: relative;
  margin-left: -16px;
}
.fonctionnement__ico {
  color: #A4A4A4;
  margin-right: 20px;
  margin-left: 30px;
  font-size: 20px;
}
.fonctionnement__ico.fa-mobile-screen-button {
  margin-right: 25px;
}
.fonctionnement li {
  list-style-type: none;
  border: 1px solid transparent;
  background-color: #fafafa;
  border-radius: 20px;
  margin-bottom: 30px;
  font-weight: 600;
  text-align: left;
  padding: 25px 20px 25px 0;
  width: 95%;
  box-shadow: 0px 5px 10px #bdbdbd;
}
.fonctionnement li:hover {
  background-color: #F8EFFB;
}
.fonctionnement li:hover .fonctionnement__ico {
  color: #9356DC;
}

.restaurants {
  background-color: #fafafa;
  padding-top: 32px;
  padding-bottom: 40px;
}
.restaurants__title {
  text-align: left;
  margin-left: 25px;
}
.restaurants__box {
  margin-left: 25px;
  margin-right: 25px;
  line-height: 0;
}
.restaurants__box a {
  text-decoration: none;
  color: #000000;
}
.restaurants__box__label {
  border: 1px solid transparent;
  border-radius: 3px 3px;
  background-color: #99E2D0;
  color: #077754;
  width: 79px;
  height: 24px;
  padding: 15px 10px 15px 8px;
  position: absolute;
  right: 45px;
  font-weight: 600;
}
.restaurants__box__img {
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  object-fit: cover;
  object-position: center 62%;
  max-height: 200px;
}
.restaurants__box__description {
  background-color: white;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-align: left;
  line-height: 0.5;
  padding: 0 30px 15px 19px;
  box-shadow: 0px 1px 17px #bdbdbd;
}
.restaurants__box__description__ico {
  font-size: 28px;
}
.restaurants__box__description__ico:hover {
  cursor: pointer;
  font-weight: 900;
  background: linear-gradient(to top, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/***Menus***/
.main__menu {
  display: flex;
  flex-direction: column;
}

.img__top {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.menu {
  padding-top: 20px;
  margin-top: -80px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  background-color: #fafafa;
}
.menu h1 {
  font-family: "Shrikhand", sans-serif;
  text-align: left;
  margin-left: 35px;
}
.menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 34px;
  margin-left: -15px;
}
.menu__title i {
  font-size: 28px;
}
.menu__title i:hover {
  cursor: pointer;
  font-weight: 900;
  background: linear-gradient(to top, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.menu__entree__plats__desserts {
  text-align: left;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 45px;
}
.menu__entree__plats__desserts h2 {
  font-weight: normal;
  font-size: 20px;
  padding-bottom: 5px;
  width: 50px;
  position: relative;
  margin-bottom: 30px;
}
.menu__entree__plats__desserts h2::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 5px;
  background-color: #99E2D0;
  margin-top: 8px;
}
.menu__entree__plats__desserts__choice {
  border: 1px solid transparent;
  border-radius: 10px 10px;
  padding-left: 10px;
  margin-bottom: 15px;
  line-height: 0.5;
  box-shadow: 1px 1px 6px #bdbdbd;
  background-color: white;
}
.menu__entree__plats__desserts__choice span {
  font-weight: bold;
  position: absolute;
  left: 82%;
}

.btn__commander {
  border-radius: 30px 30px;
  border: none;
  padding: 15px 40px 15px 40px;
  color: white;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0 5px 8px 1px #bdbdbd;
  font-family: "Roboto", sans-serif;
  margin-bottom: 70px;
}

/*# sourceMappingURL=style.css.map */
